[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
autopep8 = "*"
pytest = "*"
requests-toolbelt = "*"
pytest-sugar = "*"
pytest-ordering = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
test = "pytest cases -s -v"
test-src = "pytest src/test -s"
test-in-dev-env = "export PIPENV_DOTENV_LOCATION=`pwd`/.dev.env"
